<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ht-srms :: 물품 관리</title>
    <%- include("../libs/libsStyles.ejs") %>
    <%- include("../libs/jui/jui-libsStyles.ejs") %>
    <link rel="stylesheet" href="/static/css/item/item-manage.css">
</head>

<body>
    <%- include("../header.ejs") %>
    <div class="main">
        <%- include("../aside.ejs") %>
        <section class="container">
            <article>
                <span>📑 물품 관리</span>
            </article>
            <article class="jui roundBox">
                <div class="table-header">
                    <div class="btn-group">
                        <select class="item-search-select" id="js-itemIsCanRent" name="itemIsCanRent"
                            aria-label="itemIsCanRent">
                            <option value="any" selected>대여 가능/불가능</option>
                            <option value="true">대여 가능</option>
                            <option value="false">대여 불가능</option>
                        </select>
                    </div>
                    <div>
                        <select class="item-category-large" id="js-itemCategoryLarge" name="itemCategoryLarge">
                        </select>
                    </div>
                    <div>
                        <select class="item-category-small" id="js-itemCategorySmall" name="itemCategorySmall">
                        </select>
                    </div>
                    <div>
                        <select class="item-search-select" id="js-itemSearchSelect" name="itemSearchSelect">
                            <option value="itemName" selected>물품이름</option>
                            <option value="itemId">물품코드</option>
                            <option value="itemWriter">등록자</option>
                        </select>
                    </div>
                    <div id="ac_1" class="group">
                        <input type="text" class="input small" name="itemSerchInput" value=""
                            style="width: 150px;height: 100% !important;" />
                        <label class="label small icon-search" id="itemSearchNameBtn"
                            style="height: 100% !important;"></label>
                    </div>
                    <div>
                        <select class="item-search-select" id="js-itemOrberBySelect" name="itemOrberBySelect">
                            <option value="-1" selected>내림차순 📉</option>
                            <option value="1">오름차순 📈</option>
                        </select>
                        <select class="item-search-select" id="js-itemSortSelect" name="itemSortSelect">
                            <option value="itemNum">등록순번순</option>
                            <option value="updatedAt" selected>등록날짜순</option>
                            <option value="itemName">물품이름순</option>
                            <option value="itemId">물품코드순</option>
                            <option value="itemCanRentAmount">대여 가능 수량순</option>
                            <option value="itemRentingAmount">대여 중 수량순</option>
                            <option value="itemTotalAmount">총 수량순</option>
                        </select>
                    </div>
                </div>
                <div class="tablebody">
                    <table id="table_9" class="table simple headline">
                        <thead>
                            <tr>
                                <th width="30px" data-value="itemNum">No</th>
                                <th width="135px" data-value="itemId">물품코드</th>
                                <th data-value="itemCategoryLarge">대분류</th>
                                <th>소분류</th>
                                <th>이름</th>
                                <th width="110px">대여 가능 여부</th>
                                <th width="110px">반납 필요 여부</th>
                                <th width="110px">대여 가능 수량</th>
                                <th width="110px">대여 중 수량</th>
                                <th width="60px">총 수량</th>
                                <th width="160px">등록일(마지막 수정)</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div id="table_9_dd" class="dropdown large">
                        <ul style="width: 150px;">
                            <% 
                                const roles = userInfo.userRole;
                                if(roles.admin === true){ %>
                            <li value="rent">대여</li>
                            <li value="rentHistory">대여/반납 이력</li>
                            <li value="modifyItem">물품편집</li>
                            <li value="deleteItem">물품삭제</li>
                            <li value="renterList">대여자 명단</li>
                            <li class="divider"></li>
                            <li value="close">닫기</li>
                            <% } else if(roles.rent === true && roles.edit === true){ %>
                            <li value="rent">대여</li>
                            <li value="rentHistory">대여/반납 이력</li>
                            <li value="modifyItem">물품편집</li>
                            <li value="deleteItem">물품삭제</li>
                            <li value="renterList">대여자 명단</li>
                            <li class="divider"></li>
                            <li value="close">닫기</li>
                            <% } else if(roles.rent === true){ %>
                            <li value="rent">대여</li>
                            <li value="rentHistory">대여/반납 이력</li>
                            <li class="divider"></li>
                            <li value="close">닫기</li>
                            <% } else if(roles.edit === true ){ %>
                            <li value="modifyItem">물품편집</li>
                            <li value="deleteItem">물품삭제</li>
                            <li class="divider"></li>
                            <li value="close">닫기</li>
                            <% } else { %>
                            <li value="rentHistory">대여/반납 이력</li>
                            <li class="divider"></li>
                            <li value="close">닫기</li>
                            <% }
                            %>
                        </ul>
                    </div>
                    <script data-jui="#table_9" data-tpl="row" type="text/template">
                        <tr>
                            <td><!= itemNum !></td>
                            <td><!= itemId !></td>
                            <td><!= itemCategoryLarge !></td>
                            <td><!= itemCategorySmall !></td>
                            <td><!= itemName !></td>
                            <td><!= itemIsCanRent !></td>
                            <td><!= itemIsNeedReturn !></td>
                            <td><!= itemCanRentAmount !></td>
                            <td><!= itemRentingAmount !></td>
                            <td><!= itemTotalAmount !></td>
                            <td><!= updatedAt !></td>
                        </tr>
                    </script>
                </div>
                <footer>
                    <div></div>
                    <div class="paging table-footer" id="js-pagingTableFooter">
                        <a class="prev" id="prevBtn" data-value="">이전</a>
                        <div class="list" id="pageNumList">
                            <!-- JS영역 -->
                        </div>
                        <a class="next" id="nextBtn" data-value="">다음</a>
                    </div>
                    <div>
                        <a id="exportfile" download="table.csv">
                            <img src="/static/images/excel-4954.svg">
                        </a>
                    </div>
                </footer>
            </article>
        </section>
    </div>
    <%- include("./item-modify.ejs") %>


    <%- include("../libs/libsScript.ejs") %>
    <%- include("../libs/jui/jui-libsScript.ejs") %>
    <script type="module" src="/static/js/item/item-manage-script.js"></script>
    <!-- <script type="module" src="/static/js/item/item-modify-script.js"></script> -->
</body>

</html>