<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ht-srms :: 물품 등록</title>
    <%- include("../libs/libsStyles.ejs") %>
    <%- include("../libs/jui/jui-libsStyles.ejs") %>
    <link rel="stylesheet" href="/static/css/item/item-insert.css">
</head>

<body>
    <%- include("../header.ejs") %>
    <div class="main">
        <%- include("../aside.ejs") %>
        <section class="container">
            <article>
                <span>✏️ 물품 등록</span>
            </article>
            <article class="item-insert-main roundBox">
                <div class="item-form-group">
                    <section class="roundBox">
                        <form action="">
                            <header>
                                <span>📝 물품 등록 양식</span>
                                <button type="reset" class="btn btn-outline-primary btn-white">양식 초기화</button>
                            </header>
                            <article id="js-itemInsertForm">
                                <ul>
                                    <li class="item-category-large-group">

                                        <label for="js-itemCategoryLarge">*대분류 : </label>
                                        <div>
                                            <select class="item-category-large" id="js-itemCategoryLarge"
                                                name="itemCategoryLarge">
                                            </select>
                                            <button type="button" for="js-itemCategoryLarge"
                                                class="btn btn-outline-primary btn-blue" id="js-itemCategoryLargeAddInsert">대분류 추가</button>
                                        </div>
                                    </li>
                                    <li class="item-category-small-group">
                                        <label for="js-itemCategorySmall">*소분류 : </label>
                                        <div>
                                            <select class="item-category-small" id="js-itemCategorySmall"
                                                name="itemCategorySmall">
                                            </select>
                                            <button type="button" for="js-itemCategorySmall"
                                                class="btn btn-outline-primary btn-blue"
                                                id="js-itemCategorySmallAddInsert">소분류 추가</button>
                                        </div>
                                    </li>
                                    <li>
                                        <label for="js-itemName">*물품 이름 : </label>
                                        <input type="text" id="js-itemName" class="item-name" name="itemName"
                                            placeholder="물품의 이름을 입력해주세요" required />
                                    </li>
                                    <li>
                                        <label for="js-itemIsCanRent">*대여 가능 여부 : </label>
                                        <div class="btn-group">
                                            <input type="radio" class="btn-check" id="js-itemIsCanRent"
                                                name="itemIsCanRent" value='true' checked>
                                            <label class="btn btn-outline-primary" for="js-itemIsCanRent">대여 가능</label>
                                            <input type="radio" class="btn-check" id="js-itemIsCantRent"
                                                name="itemIsCanRent" value='false'>
                                            <label class="btn btn-outline-primary" for="js-itemIsCantRent">대여
                                                불가능</label>
                                        </div>
                                    </li>
                                    <li>
                                        <label for="js-itemIsNeedReturn">*반납 필요 여부 : </label>
                                        <div class="btn-group">
                                            <input type="radio" class="btn-check" id="js-itemIsNeedReturn"
                                                name="itemIsNeedReturn" value='true' checked>
                                            <label class="btn btn-outline-primary" for="js-itemIsNeedReturn">반납
                                                필요</label>
                                            <input type="radio" class="btn-check" id="js-itemIsntNeedReturn"
                                                name="itemIsNeedReturn" value='false'>
                                            <label class="btn btn-outline-primary" for="js-itemIsntNeedReturn">반납
                                                불필요</label>
                                        </div>
                                    </li>
                                    <li>
                                        <label for="js-itemId">제품 코드 : </label>
                                        <input type="text" id="js-itemId" class="item-id" name="itemId"
                                            placeholder="제품코드를 입력해주세요" />
                                    </li>
                                    <li>
                                        <label for="js-itemTotalAmount">물품 수량 : </label>
                                        <input type="number" id="js-itemTotalAmount" class="item-total-amount"
                                            name="itemTotalAmount" placeholder="1" />
                                    </li>
                                </ul>
                            </article>
                            <footer>
                                <button type="button" class="btn btn-outline-primary btn-blue"
                                    for="js-itemInsertFormBtn" id="js-itemInsertFormBtn">
                                    등록리스트에 올리기📩
                                </button>
                            </footer>
                        </form>
                    </section>
                    <section class="roundBox">
                        <form action="">
                            <header>
                                <span>📃 물품 등록리스트</span>
                                <button type="reset" class="btn btn-outline-primary btn-white"
                                    id="js-itemListResetBtn">리스트 초기화</button>
                            </header>
                            <article id="itemListTableWrap">
                                <div class="jui">
                                    <input type="file" id="table_16_btn" />
                                    <div id="xtable_3" class="xtable" style="margin-top: 7px;">
                                        <table class="table simple headline">
                                            <thead>
                                                <tr>
                                                    <th width="20px">No</th>
                                                    <th>대분류</th>
                                                    <th>소분류</th>
                                                    <th>물품이름</th>
                                                    <th>대여 가능 여부</th>
                                                    <th>반납 필요 여부</th>
                                                    <th>코드</th>
                                                    <th>수량</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>

                                    <script data-jui="#xtable_3" data-tpl="row" type="text/template">
                                        <tr>
                                            <td><!= row.index !></td>
                                            <td><!= itemCategoryLarge !></td>
                                            <td><!= itemCategorySmall !></td>
                                            <td><!= itemName !></td>
                                            <td><!= itemIsCanRent !></td>
                                            <td><!= itemIsNeedReturn !></td>
                                            <td><!= itemId !></td>
                                            <td><!= itemTotalAmount !></td>
                                        </tr>
                                    </script>

                                    <script data-jui="#xtable_3" data-tpl="none" type="text/template">
                                        <tr>
                                            <td colspan="8" class="none" align="center">Data does not exist.</td>
                                        </tr>
                                    </script>
                                </div>
                            </article>
                            <footer>
                                <button type="button" class="btn btn-outline-primary btn-blue"
                                    id="js-itemListSave">등록리스트 임시저장</button>
                            </footer>
                        </form>
                    </section>
                </div>
                <div class="item-insert-footer">
                    <button type="button" class="btn btn-outline-primary btn-white" id="js-itemInsertCancel">취소</button>
                    <button type="button" class="btn btn-outline-primary btn-blue"
                        id="js-itemInsertSubmit">최종등록</button>
                </div>
            </article>
        </section>
    </div>

    <%- include("../libs/libsScript.ejs") %>
    <%- include("../libs/jui/jui-libsScript.ejs") %>
    <script type="text/javascript" src="/static/libs/d3@7.js"></script>
    <script type="module" src="/static/js/item/item-insert-script.js"></script>
</body>

</html>