<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ht-srms :: λ¬Όν’ κ΄€λ¦¬</title>
    <%- include("../libs/libsStyles.ejs") %>
    <%- include("../libs/jui/jui-libsStyles.ejs") %>
    <link rel="stylesheet" href="/static/css/item/item-manage.css">
</head>

<body>
    <%- include("../header.ejs") %>
    <div class="main">
        <%- include("../aside.ejs") %>
        <section class="container">
            <article>
                <span>π“‘ λ¬Όν’ κ΄€λ¦¬</span>
            </article>
            <article class="jui roundBox">
                <div class="table-header">
                    <div>
                        <input type="radio" class="btn small" id="js-canRent" name="canRent" value='true' checked>
                        <label for="js-canRent">λ€μ—¬ κ°€λ¥</label>
                        <input type="radio" class="btn small" id="js-cantRent" name="canRent" value='false'>
                        <label for="js-cantRent">λ€μ—¬ λ¶κ°€λ¥</label>
                    </div>
                    <div>
                        <select class="item-category-large" id="js-itemCategoryLarge" name="itemCategoryLarge">
                            <option>λ€λ¶„λ¥</option>
                            <option value="">μ „μμ ν’</option>
                            <option value="">λ¬Έκµ¬</option>
                            <option value="">λ„μ„</option>
                            <option value="">μΈν•</option>
                        </select>
                    </div>
                    <div>
                        <select class="item-category-small" id="js-itemCategorySmall" name="itemCategorySmall">
                            <option>μ†λ¶„λ¥</option>
                            <option value="">λ¨λ‹ν„°</option>
                            <option value="">ν‚¤λ³΄λ“</option>
                            <option value="">λ§μ°μ¤</option>
                        </select>
                    </div>
                    <div>
                        <select class="item-search-select" id="js-itemSearchSelect" name="itemSearchSelect">
                            <option value="">μ΄λ¦„</option>
                            <option value="">μ½”λ“</option>
                            <option value="">λ“±λ΅μ</option>
                        </select>
                    </div>
                    <div id="ac_1" class="group">
                        <input type="text" class="input small" style="width: 150px;height: 100% !important;" />
                        <label class="label small" style="height: 100% !important;"><i class="icon-search"></i></label>
                    </div>
                    <div>
                        <select class="item-search-select" id="js-itemSearchSelect" name="itemSearchSelect">
                            <option> μ •λ ¬μμ„ π“¶</option>
                            <option value="">λ“±λ΅μ</option>
                            <option value="">μ΄λ¦„μ</option>
                        </select>
                    </div>
                </div>
                <div class="tablebody">
                    <table id="table_9" class="table simple headline">
                        <thead>
                            <tr>
                                <th width="30px">No</th>
                                <th>λ¬Όν’μ½”λ“</th>
                                <th>λ€λ¶„λ¥</th>
                                <th>μ†λ¶„λ¥</th>
                                <th>μ΄λ¦„</th>
                                <th width="80px">λ€μ—¬ κ°€λ¥ μ—¬λ¶€</th>
                                <th width="80px">λ°λ‚© ν•„μ” μ—¬λ¶€</th>
                                <th width="80px">λ€μ—¬ κ°€λ¥ μλ‰</th>
                                <th width="80px">λ€μ—¬ μ¤‘ μλ‰</th>
                                <th width="50px">μ΄ μλ‰</th>
                                <th>λ“±λ΅μΌ(λ§μ§€λ§‰ μμ •)</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div id="table_9_dd" class="dropdown large">
                        <ul style="width: 150px;">
                            <% 
                                const roles = userInfo.userRole;
                                if(roles.admin === true){ %>
                            <li>λ€μ—¬</li>
                            <li>λ€μ—¬/λ°λ‚© μ΄λ ¥</li>
                            <li>λ¬Όν’νΈμ§‘</li>
                            <li>λ¬Όν’μ‚­μ </li>
                            <li>λ€μ—¬μ λ…λ‹¨</li>
                            <% } else if(roles.rent === true && roles.edit === true){ %>
                            <li>λ€μ—¬</li>
                            <li>λ€μ—¬/λ°λ‚© μ΄λ ¥</li>
                            <li>λ¬Όν’νΈμ§‘</li>
                            <li>λ¬Όν’μ‚­μ </li>
                            <% } else if(roles.rent === true){ %>
                            <li>λ€μ—¬</li>
                            <li>λ€μ—¬/λ°λ‚© μ΄λ ¥</li>
                            <% } else if(roles.edit === true ){ %>
                            <li>λ¬Όν’νΈμ§‘</li>
                            <li>λ¬Όν’μ‚­μ </li>
                            <% } else { %>
                            <li>λ€μ—¬/λ°λ‚© μ΄λ ¥</li>
                            <% }
                            %>
                        </ul>
                    </div>
                    <script data-jui="#table_9" data-tpl="row" type="text/template">
                        <tr>
                            <td><!= row.index !></td>
                            <td><!= itemId !></td>
                            <td><!= itemCategoryLarge !></td>
                            <td><!= itemCategorySmall !></td>
                            <td><!= itemName !></td>
                            <td><!= itemIsCanRent !></td>
                            <td><!= itemIsNeedReturn !></td>
                            <td><!= itemCanRentAmount !></td>
                            <td><!= itemRentingAmount !></td>
                            <td><!= itemTotalAmount !></td>
                            <td><!= updatedAt !></td>
                        </tr>
                    </script>
                </div>
                <div class="paging table-footer">
                    <a href="#" class="prev">μ΄μ „</a>
                    <div class="list">
                        <a href="#">1</a>
                        <a href="#" class="active">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#">6</a>
                        <a href="#">7</a>
                        <a href="#">8</a>
                        <a href="#">9</a>
                        <a href="#">10</a>
                    </div>
                    <a href="#" class="next">λ‹¤μ</a>
                </div>
            </article>
        </section>
    </div>

    <%- include("../libs/libsScript.ejs") %>
    <%- include("../libs/jui/jui-libsScript.ejs") %>
    <script type="module" src="/static/js/item/item-manage-script.js"></script>
</body>

</html>